@media screen and (min-width: 576px) {
	html {
		font-size: 16px;
	}

	.friends-item__img {
		max-height: 300px;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 17px;
	}

	.header {
		background-position: center;
	}

	.logo {
		text-align: left;
	}

	.navigation__toggler {
		display: none;
	}

	.menu {
		position: static;
		background: transparent;
		-webkit-animation: none;
		animation: none;
	}

	.navigation {
		position: static;
		height: auto;
		width: 100%;
		min-width: auto;
		max-width: none;
		background: transparent;
		-webkit-animation: none;
		animation: none;
		padding: 0;
		margin: auto;
	}

	.menu__list {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-webkit-box-pack: justify;
		justify-content: space-between;
		margin: 0px;
	}

	.menu__link {
		padding: 0px;
		font-size: 15px;
	}

	.offer {
		margin: 0;
	}

	.about__text {
		max-width: 420px;
	}

	.about__caption {
		text-align: left;
	}

	.about__img img {
		width: 100%;
		height: 100%;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.action-button {
		width: 50px;
		height: 50px;
	}

	.donate__caption {
		text-align: left;
		margin-top: 0px;
	}

	.donate__text {
		max-width: 380px;
		text-align: left;
		margin: 0px;
	}

	.information__caption {
		text-align: left;
	}

	.information__item {
		-webkit-box-pack: start;
		justify-content: start;
	}

	.footer__information {
		padding: 0px;
	}

	.modal-window__content {
		max-width: 1000px;
		max-height: 500px;
	}

	.modal-window__button_close {
		top: -20px;
		right: -20px;
	}

	.friends-modal {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		text-align: left;
		padding: 20px;
	}

	.friends-modal__img {
		height: 100%;
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
	}

	.friends-modal__img img {
		width: 70%;
		height: 70%;
		max-height: none;
	}

	.friends-modal__name {
		text-align: left;
	}
}