@media screen and (max-width: 800px) {
  .column{
    flex: 50%;
    max-width: 50%;
  }

  .tall{
    max-height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .column{
    flex: 100%;
    max-width: 100%;
  }
  .tall{
    width: 90%;
    height: auto;
  }
  .modal-img {
    width: 90%;
  }
}